@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.genre__one{

    padding: 1rem;
    padding-bottom: 0;

    @include tablet{
        padding: 1rem 0;
    }

    &-title{
        color: $primary-outline;
        font-size: 1.5rem;

        @include tablet{
            font-size: 1.8rem;
        }
    }
}