@font-face {
    font-family: Quicksand Light;
    src: url('../../assets/Fonts/Quicksand-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Quicksand;
    src: url('../../assets/Fonts/Quicksand-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Quicksand Bold;
    src: url('../../assets/Fonts/Quicksand-SemiBold.ttf');
    font-weight: 600;
}