@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.home{
    background-color: $secondary-one;

    @include tablet{
        padding: 2rem;
    }

    @include desktop{
        padding: 2rem 6rem;
    }
}