@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.movie{
    overflow: hidden;
    display: flex;

    &--active{
        border: 2px solid $primary-outline;
    }

    &__thumbnail{
        width: 100%;
    }
}